
html, body {font-family: Arial, Helvetica, sans-serif}
body {margin: 0 auto;}

.cupcake {width: 20%; height: auto}
.parallax {height: 200px; background-attachment: fixed; background-position: center; background-repeat: repeat; padding-top: 100px;}
.parallax h1 {color: #FFF; background-color: palevioletred; padding: 10px 0; margin: auto; width: 30%; text-align: center;}

#navigation ul {list-style-type: none; margin: 0 auto; padding: 0; overflow: hidden; background-color: #333; position: sticky; position: -webkit-sticky; top: 0;}
#navigation li {float: left;}
#navigation li a {display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;}
#navigation li a:hover {background-color: #111;} /* Change the link color to #111 (black) on hover */

#wrapper {margin: 20px auto; width: 900px;}

* {box-sizing:border-box}
#wrapper .slideshow-container {width: 600px; height: 400px; position: relative; float: left;} /* Slideshow container */
#wrapper .mySlides {display: none;} /* Hide the images by default */
#wrapper .mySlides img {width: 600px; height: 400px;}
#wrapper .numbertext {color: #f2f2f2; font-size: 12px; padding: 8px 12px; position: absolute; top: 0;} /* Number text (1/3 etc) */
#wrapper .fade {-webkit-animation-name: fade; -webkit-animation-duration: 1.5s; animation-name: fade; animation-duration: 1.5s;} /* Fading animation */
@-webkit-keyframes fade {from {opacity: .4} to {opacity: 1}}
@keyframes fade {from {opacity: .4} to {opacity: 1}}

#wrapper .side-content {float: right; border: 1px solid #333; padding: 10px;}
#wrapper .side-content .cool-cat {width: 100px; height: auto; border-radius: 50%; border: 1px solid #333; display: block; margin: auto;}

#wrapper .content {float: left; margin-bottom: 100px;}

#footer {position: fixed; left: 0; bottom: 0; width: 100%; background-color: #333; color: white; text-align: center;}