{% extends "base.html" %}

{% block base %}

    <h1>{{ title }}</h1>

    <div class="content">
        <p>{{ info }}</p>
        <h3>History</h3>
        <p>{{ history }}</p>
    </div>
{% endblock %}


