<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    {% include 'header.html' %}
    
    {% include 'navbar.html' %}

    <div id="wrapper">
        {% block base %}
            
        {% endblock %}
    </div>

    {% include 'footer.html' %}
    
    <script src="{% static 'js/slideshow.js' %}"></script>
</body>
</html>