{% extends "base.html" %}

{% block base %}

    {% include 'slideshow.html' %}
    {% include 'sidecontent.html' %}

    <div class="content">
        <p>{{ lipsum }}</p>
        <p>{{ lipsum }}</p>
        <p>{{ lipsum }}</p>
    </div>
{% endblock %}


