
<nav id="navigation">
    <ul>
        <li><a href="{% url 'index' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        
        {% if user.is_authenticated %}
            <li style="float: right;"><a href="logout">Logout</a></li>
        {% else %}
            <li style="float: right;"><a href="login">Login</a></li>
        {% endif %}
    </ul>
</nav> 