
{% load static %}

<div class="side-content">
    <img class="cool-cat" src="{% static 'images/cool-cat.png' %}" alt="Cool Cat">
    <p>Welcome, <strong>{{ username }}!</strong></p>
    <div class="phone-list">
        <h4>List of phones</h4>
        <ul>
            {% for phone in phones %}
                <li>{{ phone }}</li>
            {% endfor %}
        </ul>
    </div>
</div>