
{% load static %}

<div class="slideshow-container">
    <!-- Images with number text -->
    <div class="mySlides fade">
        <div class="numbertext">1 / 3</div>
        <img src="{% static 'images/cupcakes-1.jpg' %}" style="width:100%">
    </div>
    
    <div class="mySlides fade">
        <div class="numbertext">2 / 3</div>
        <img src="{% static 'images/cupcakes-2.jpg' %}" style="width:100%">
    </div>
    
    <div class="mySlides fade">
        <div class="numbertext">3 / 3</div>
        <img src="{% static 'images/cupcakes-3.jpg' %}" style="width:100%">
    </div>
</div>
<br>